.vertical_line {
  @include vertical_line;

  @include for_big_tablet {
    display: none;
  }
}

.percents_block {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  @include for_phone {
    position: relative;
    bottom: 5px;
  }

  &__percent {
    flex-grow: 1;
    border-radius: 8px;
    color: $white;
    border: 1px solid rgba(32, 32, 33, 1);
    transition: 0.3s all ease-in-out;
    &:hover {
      background: $brand_yellow;
    }
  }
}
.percents_block__farm {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  @include for_phone {
    position: relative;
    bottom: 58px;
  }

  &__percent {
    flex-grow: 1;
    border-radius: 8px;
    color: $white;
    border: 1px solid $black_borders;
    transition: 0.3s all ease-in-out;
    &:hover {
      background: $brand_yellow;
    }
  }
}

// hide arrows for input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
